<style>
   #divClass{
    background-color: aqua;
   }
   h1{
    color: deepskyblue;
   }
   
   img {
     width: 400 ;
        
   } 
     #thirdDiv{
        border: 5px solid blue ;
        padding: 50px;
        height: 600px;
        width: 500px;
    background-color: aqua;

   }
   #spamId {
     font-size: 18px;
     margin: 50px;
   }

    </style>